<div class="searchbar">
    <div class="container">
        <form action="/search" method="post" class="searchbar__form" role="search">
            <input type="search" aria-label="Search" id="searchInput" name="searchTerm" placeholder="Search your wayy..">
        </form>
    </div>
    <div id="searchClose">Close</div>
</div>